body {
    background: #F9D195;
}

#title-image {
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*display: block;*/
}

#title-text {
    position: absolute;
    left: 0px;
    right: 0px;
    text-align: center;
    top: 20px;
    font: 30px/1.1em "Chelsea Market",fantasy;
    color: #8E6C57;
}
#title-father {
    position:relative;
}
#title-description{
    position:absolute;
    left:0;
    right:0;
    text-align:center;
    font: 1.3em "Kelly Slab",fantasy;
    color: #62483D;
    bottom:0px;
}
.separator {
    background-image: url("/static/img/star_separator_line.png");
    background-repeat: repeat-x;
    width: 100%;
    height: 15px;
    margin-top:20px;
    margin-bottom:5px;
}
#teapot-bg {
    border: 0px solid #80C9A5;
    background-color: #80C9A5;
    border-radius: 50%;
    width:150px;
    height:150px;
    position:relative;
    margin-bottom: -30px;
    margin-top: 50px;
}

#teapot {
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin:auto;
}

footer p {
    color: #62483D;
}

.nav-item {
    background: white;
    border: 2px solid #BBE4CF;
    height:28px;
}

.nav-item a {
    text-align: center;
    line-height: 24px;
    color: #8E6C57;
}

.nav-item a:hover {
    text-decoration:none;
}

#content {
    margin-top:20px;
}

.panel {
    height: 360px;
    overflow: auto;
    border-width:10px;
    border-style:solid;
}

.folder-box:nth-child(7n+1) .folder {
    border-color:#FF98BF;
}
.folder-box:nth-child(7n+2) .folder {
    border-color:#93D9D2;
}
.folder-box:nth-child(7n+3) .folder {
    border-color:#EEFF78;
}
.folder-box:nth-child(7n+4) .folder {
    border-color:#BBED7B;
}
.folder-box:nth-child(7n+5) .folder {
    border-color:#85C5C0;
}
.folder-box:nth-child(7n+6) .folder {
    border-color:#8EE995;
}
.folder-box:nth-child(7n+7) .folder {
    border-color:#93DED6;
}
