{% extends 'base.html'%}
{% block content %}

        <div class="container">
            <div class="row">
                {% for folder in folders %}
                <div class="col-md-4 folder-box">
                    <div class="folder panel panel-default">
                        <ul class="list-group">
                            <li class="list-group-item">{{ folder.folder_name }}</li>
                            {% for webpage in folder.webpages %}
                            <li class="list-group-item">{{ webpage.url }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}
